<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Column Sizing</h2>
  <p>The form below shows input elements with different widths using different .col-xs-* classes:</p>
  <form action="." method="POST">
    <div class="form-group row">
      <div class="col-xs-3">
        <label for="ex1">Name</label>
        <input class="form-control" name="name_1" type="text">
		<br>
        <input class="form-control" name="name_2" type="text">
		<br>
        <input class="form-control" name="name_3" type="text">
		<br>
        <input class="form-control" name="name_4" type="text">
		<br>
        <input class="form-control" name="name_5" type="text">
		<br>
        <input class="form-control" name="name_6" type="text">
      </div>
	<div class="col-xs-2">
        <label for="ex1">FR Skill</label>
        <input class="form-control" name="FR_1" type="text">
		<br>
        <input class="form-control" name="FR_2" type="text">
		<br>
        <input class="form-control" name="FR_3" type="text">
		<br>
        <input class="form-control" name="FR_4" type="text">
		<br>
        <input class="form-control" name="FR_5" type="text">
		<br>
        <input class="form-control" name="FR_6" type="text">
      </div>

	<div class="col-xs-2">
        <label for="ex1">BR Skill</label>
        <input class="form-control" name="BR_1" type="text">
		<br>
        <input class="form-control" name="BR_2" type="text">
		<br>
        <input class="form-control" name="BR_3" type="text">
		<br>
        <input class="form-control" name="BR_4" type="text">
		<br>
        <input class="form-control" name="BR_5" type="text">
		<br>
        <input class="form-control" name="BR_6" type="text">

<br>

        <input type="submit" name="my-form" value="Send">

    </div>

  </form>
</div>

</body>
</html>
